

/* 
  .btn {
    background-color: #007bff;
    color: hsl(0, 1%, 30%);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  } */

  .floating-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
  
  .floating-button button {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #0077cc;
    color: #fff;
    font-size: 50px;
    line-height: 1;
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .floating-button button:hover {
    transform: scale(1.1) rotate(45deg);;
  }
  
  .floating-button-options {
    position: absolute;
    bottom: 70px;
    right: 3px;
    flex-direction: column;
    gap: 10px;
    font-size:70px;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
  }
  
  
  .floating-button-options button:hover {
    background-color: #0077cc;
    color: #fff;
    transform: scale(1.1);
    
  }

