.row22 {
  --bs-gutter-x: -1.5rem;
}
.color_h3 {
  text-decoration: none;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 70px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.imagen_creat2 .imagen .img2 {
  width: 350px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-top: 10px;
}

.imagen_creat3 .imagen .img3 {
  width: 200px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-top: -30px;
  float: right;
  margin-left: 15px;
}

.evento1 .imagen .img4 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
}
.evento1 .imagen .img5 {
  border-radius: 5px;
  width: 260px;
  height: 220px;
}
.evento1 .imagen .img6 {
  border-radius: 5px;
  width: 260px;
  height: 260px;
}

.imagen_creat2 {
  margin-top: -40px;
}

/*Botones*/

.btnmy {
  color: #06192c;
  font-size: 18.5px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #06192c;
  padding: 10px 30px;
  text-transform: inherit;
  overflow: hidden;
  border-radius: 17px;
  background: #ffffff;
  transition: 0.6s;
}

.btnmy:hover {
  color: #eee;
  background-color: #06192c;
  transition: 0.6s;
}

.eventoone .evento1 .tampre1 .tampre {
  font-size: 15px;
  margin-top: 10px;
}

/*Principales gestores*/

.containergestor {
  padding: 3vw;
}

.containergestor h1 {
  font-size: 1.5em;
  /* 	margin-bottom: 2em; */
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-family: Lora, serif;
  font-weight: 200;
}

.containergestor h1::before {
  content: "─";
  margin-right: 0.6em;
  color: #686868;
}

.containergestor h1::after {
  content: "─";
  margin-left: 0.6em;
  color: #686868;
}

.boxesgestor {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.boxesgestor:last-child {
  margin-top: 80px;
}

.boxgestor {
  width: 30vw;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
  padding: 0 2vw 2vw;
  border-right: 2px;
  border-left: 0;
  border-style: solid;
  /* 	border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
  border-image: linear-gradient(to bottom, #06192c, #eee, #06192c) 1 100%;
}

.boxgestor:last-child {
  border-right: 0;
}

.boxgestor .icon {
  font-size: 4em;
  color: #555;
  margin-bottom: 0.6em;
}

.boxgestor .icon:hover {
  color: #d8d8d8;
}

.boxgestor h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 200;
  line-height: 1em;
  color: #f2f2f2;
}

.boxgestor .piece-count {
  font-style: italic;
  color: #9f9f9f;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-family: Lora, serif;
}



.todo2 {
  background-color: #06192c;
  color: #d8d8d8;
}

.positioncir {
  position: relative;
  left: 180px;
}

/*Calificacion*/

.form {
  width: 300px;
  margin: 0 auto;
  height: 30px;
  margin-top: 46px;
}

.form p {
  text-align: center;
}

.form label {
  font-size: 30px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.positionnombre {
  margin-top: -35px;
}

.iconos_redes .icoh {
  padding: 8px;
  color: #6798c9;
  font-size: 24px;
}

/*Imgflotante

.floatingii .floatingi .floating {
  -webkit-animation: floating 3s ease infinite;
  
}

.floatingii .floatingi .floating:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}

.floatingii .floatingi .floating-lg {
  -webkit-animation: floating-lg 3s ease infinite;
  animation: floating-lg 3s ease infinite
}

.floatingii .floatingi .floating-sm {
  -webkit-animation: floating-sm 3s ease infinite;
  animation: floating-sm 3s ease infinite
}

@-webkit-keyframes floating-lg {
  0% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(15px)
  }

  to {
      transform: translateY(0)
  }
}

@keyframes floating-lg {
  0% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(15px)
  }

  to {
      transform: translateY(0)
  }
}

@-webkit-keyframes floating {
  0% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(10px)
  }

  to {
      transform: translateY(0)
  }
}

@keyframes floating {
  0% {
  }

  50% {
      transform: translateY(10px);
  }

  to {
      transform: translateY(0);
  }
}

@-webkit-keyframes floating-sm {
  0% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(5px)
  }

  to {
      transform: translateY(0)
  }
}

@keyframes floating-sm {
  0% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(5px)
  }

  to {
      transform: translateY(0)
  }
} */

/*Movil*/

.contenedormovil {
  width: 100%;
}

.lineapr22 {
  width: 65%;
}

.lineapr23 {
  width: 70%;
  color: #06192c;
  position: relative;
  top: 100px;
  left: 60px;
}





.tamañoh5 {
  position: relative;
  font-size: 22px;
}

.imgandro {
  width: 154px;
}

.imgapple {
  width: 174px;
}





.aliadopos {
  width: 174px;
  filter: grayscale(100%);
  opacity: 0.65;
  border-radius: 10px;
}

.imporpc {
  font-size: 15px;
  color: #06192c;
  padding: 50px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 40%;
  margin-left: 350px;
}
.borde_encima {
  border: #06192c solid 3.5px;
  width: 34%;
  position: relative;
  left: 60px;
}

.espacio2 {
  padding-left: 30%;
}
.btnmy3:hover {
  color: white;
}

.containergestor .imagenblogorg .imgblog {
  width: 454px;
  text-align: center;
  float: right;
  margin: -220px 0 0;
  margin-right: 410px;
}

.arreglo {
  margin-bottom: 30px;

}

/* Responsive */
@media only screen and (max-width: 320px) {
  .containergestor .imagenblogorg .imgblog {
    width: 170px;
    margin: -45px 0 0;
    margin-right: -20px;

}
.espacio2 {
  padding-left: 32%;
  margin-top: 20px;
  position: relative;
  top: 40px;
  right: 85px;
}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 80%;
  position: relative;
  left: -325px;
  margin-top: 8%;
  font-size: 5.56px;
  
}
.imporpc {
  padding: 15px;
}

}


@media only screen and (min-width: 320px) {
  .containergestor .imagenblogorg .imgblog {
    width: 170px;
    margin: -45px 0 0;
    margin-right: -20px;

}
.espacio2 {
  padding-left: 32%;
  margin-top: 20px;
  position: relative;
  top: 40px;
  right: 85px;
}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 80%;
  position: relative;
  left: -325px;
  margin-top: 8%;
  font-size: 5.56px;
  
}
.imporpc {
  padding: 15px;
}

}


@media only screen and (min-width: 375px) {
  .containergestor .imagenblogorg .imgblog {
    width: 220px;
    margin: -65px 0 0;
    margin-right: 25px;

}
.espacio2 {
  padding-left: 32%;
  margin-top: 20px;
  position: relative;
  top: 40px;
  right: 85px;
}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 80%;
  position: relative;
  left: -325px;
  margin-top: 8%;
  font-size: 8.56px;
  
}
.imporpc {
  padding: 20px;
}

}

@media only screen and (min-width: 425px) {
  .containergestor .imagenblogorg .imgblog {
    width: 260px;
    margin: -65px 0 0;
    margin-right: 25px;

}
.espacio2 {
  padding-left: 32%;
  margin-top: 20px;
  position: relative;
  top: 40px;
  right: 85px;
}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 80%;
  position: relative;
  left: -325px;
  margin-top: 8%;
  font-size: 9.85px;
  
}
.imporpc {
  padding: 20px;
}

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .containergestor .imagenblogorg .imgblog {
    width: 350px;
    margin: -90px 0 0;
    margin-right: 25px;

}
.espacio2 {
  padding-left: 20%;
  margin-top: 20px;
  position: relative;
  top: -90px;
  right: 260px;
}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 80%;
  position: relative;
  left: -325px;
  margin-top: 8%;
  font-size: 12.8px;
  
}
.imporpc {
  padding: 30px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .containergestor .imagenblogorg .imgblog {
    width: 370px;
    margin: -140px 0 0;
    margin-right: 130px;

}
.espacio2 {

  position: relative;
  top: 20px;
  right: -20px;
}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 50%;
  position: relative;
  left: -220px;
  margin-top: 8%;
  
}
.imporpc {
  padding: 30px;
}

.arreglo {
  margin-bottom: 80px;

}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .containergestor .imagenblogorg .imgblog {
    width: 410px;
    margin: -150px 0 0;
    margin-right: 120px;

}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 60%;
  position: relative;
  left: -190px;
  
}

.espacio2 {

  position: relative;
  top: 20px;
  right: -20px;
}

.arreglo {
  margin-bottom: 80px;

}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .containergestor .imagenblogorg .imgblog {
    width: 410px;
    margin: -150px 0 0;
    margin-right: 120px;

}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 48%;
  position: relative;
  left: -190px;
  
}

.espacio2 {

  position: relative;
  top: 20px;
  right: -20px;
}

.arreglo {
  margin-bottom: 80px;

}
}

@media only screen and (min-width: 1440px) {
  .containergestor .imagenblogorg .imgblog {
    width: 390px;
    margin: -150px 0 0;
    margin-right: 190px;

}

.borde_encima {
  border: #06192c solid 3.5px;
  width: 40%;
  position: relative;
  left: -60px;
  
}

.espacio2 {

  position: relative;
  top: 20px;
  right: -20px;
}

.arreglo {
  margin-bottom: 80px;

}
}

#lead {
  background-color:#06192c;
  height: 200px;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 1rem;
}

@media (min-width: 960px) {
.container3 {
    max-width: 1185px;
}
}

.container3 {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.jc-center {
  justify-content: center;
}

@media (min-width: 960px) {
.grid-md-6 {
    grid-column: span 6;
}
}

#lead .title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

#lead p {
  color: #fff;
  font-size: 18px;
  margin: 8px auto;
}

#lead .btn-contact {
  align-self: center;
  display: flex;
  text-align: center;
}

#lead .btn-contact .button {
    max-width: 290px;
    margin: 0 auto;
}

.button.secondary.outline-white {
    background: transparent;
    color: #fff;
    border: .15rem solid #ffffff;
    box-shadow: none;

}

.button.block {
  display: block;
  width: 100%;
  padding: 5px;

}

.logo{
  width: 30px;
  height: 120px;
}
/*
.otroborde hr {
  border-radius: 5px;
  background: #010f2f;
  width: 50%;
  margin: auto;
  opacity: 0.9;
  position: relative;
  left: 45px;
}
*/


.arreglo {
  margin-top: 10%;
}

.tamañocarousel{
  width: 300px;
  height: 300px;
  margin-bottom: -60px;
}

.tamañocarousel img {

  filter: grayscale(100%);
  opacity: 0.5;
  border-radius: 20px;
  width: 200px;
  height: 200px;

}








